<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyMe - Interactive Media</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/game_score.css' />

    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="head">

      </div>
      <div id="contents" >
          <div class="cardview" class="container">
              <h1><%= score %> / <%= total %></h1>
          </div>
          
      </div>
    </div>
  </body>
  <script>
    
  </script>
</html>
