@media screen and (max-width: 454px) {
     div#movie_layout{
          margin-top: 50px;
          display: inline-block;
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 0.5%;
          padding-right: 0.5%;
          background: #ffffff;
          border-radius : 15px;
          width: 330px;
     }

     /*
     * Game Movie Layout
     */
     p#movie_layout_category{
          text-align: left;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
          font-size: 0.85em;
          margin: 0%;
          color: #999999;
          font-weight: bold;
     }
     h1#movie_layout_title{
          text-align: left;
          font-size: 1.25em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }

     p.comment{
          color: #999999;
          text-align: left;
          font-size: 0.65em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }
     
 }
 @media screen and (min-width: 454px) and (max-width: 667px) {
     div#movie_layout{
          margin-top: 50px;
          display: inline-block;
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 0.5%;
          padding-right: 0.5%;
          background: #ffffff;
          border-radius : 15px;
          width: 450px;
     }

     /*
     * Game Movie Layout
     */
     p#movie_layout_category{
          text-align: left;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
          font-size: 0.85em;
          margin: 0%;
          color: #999999;
          font-weight: bold;
     }
     h1#movie_layout_title{
          text-align: left;
          font-size: 1.25em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }

     p.comment{
          color: #999999;
          text-align: left;
          font-size: 0.85em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }
 }
 @media screen and (min-width: 667px){
     div#movie_layout{
          margin-top: 50px;
          display: inline-block;
          padding-top: 3%;
          padding-bottom: 3%;
          padding-left: 1%;
          padding-right: 1%;
          background: #ffffff;
          border-radius : 15px;
          width: 680px;
     }

     /*
     * Game Movie Layout
     */
     p#movie_layout_category{
          text-align: left;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
          font-size: 0.85em;
          margin: 0%;
          color: #999999;
          font-weight: bold;
     }
     h1#movie_layout_title{
          text-align: left;
          font-size: 1.25em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }

     p.comment{
          color: #999999;
          text-align: left;
          font-size: 1.05em;
          padding-right: 15px;
          padding-left: 15px;
          padding-top: 0px;
          padding-top: 0px;
     }
 }
